<img ng-src="{{mainImageUrl}}" class="phone">

<h1>{{phone.name}}</h1>	

<p>{{phone.description}}</p>
<ul class="phone-thumbs">
	<li ng-repeat="img in phone.images">
		<img ng-src="{{img}}" ng-click="setImage(img)">
	</li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
    <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
    </dl>
  </li>
 
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{phone.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{phone.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{phone.battery.standbyTime}}</dd>
    </dl>
  </li>
 
 <li>
   <dl>
      <dt>Infrared</dt>
      <dd>{{phone.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone.connectivity.gps | checkmark}}</dd>
   </dl> 
 </li>   

 <li>
  <span>Additional Features</span>
  	<dd>{{phone.additionalFeatures}}</dd>
 </li>
</ul>  	      		
